td {
  border: 1px solid white;
}

body {
background:	#FF0000;
			line-height: 25 px;
			font-size:x-small;
			font-weight: bold;
			color:black;
            font-family:Verdana ;
  }


